#app {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;

    // 全局覆盖 element-plus 样式示例
    .el-button {
        letter-spacing: 0.5px;
    }
}
body {
    margin: 0;
    padding: 0;
}
/* 美化滚动条 */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 2px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}